@model CourseProject.ViewModels.OrderVM

@{
    ViewData["Title"] = "Create";
}
@{
    DateTime UpdateDate = DateTime.Now.AddDays(7);
}

<style>
    .center {
        text-align: center;
    }

</style>

<h1 class="center">Замовлення</h1>
<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">Транспорт</th>
            <th style="text-align:center">Ціна</th>
            <th style="text-align:center">Кількість</th>
            <th style="text-align:center">Загальна Ціна</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td style="text-align:center">@item.Transport.Name</td>
                <td style="text-align:center">@item.Transport.Price.ToString("C")</td>
                <td>
                    <div class="input-group">
                        <a class="btn btn-outline-secondary" type="button" asp-action="Decrease" asp-route-customerorderid="@Model.Id" asp-route-productid="@item.Transport.Id">-</a>
                        <input type="text" class="form-control" style="text-align:center; width:70px" value="@item.Count" readonly>
                        <a class="btn btn-outline-secondary" type="button" asp-action="Increase" asp-route-customerorderid="@Model.Id" asp-route-productid="@item.Transport.Id">+</a>
                    </div>
                </td>
                <td style="text-align:center">@((item.Transport.Price * item.Count).ToString("C"))</td>
                <td>
                    <a class="btn btn-danger" asp-action="DeleteDetails" asp-route-customerorderid="@Model.Id" asp-route-productid="@item.Transport.Id">Удалить</a>
                </td>
            </tr>
        }
      
    </tbody>
</table>
<div style="display:flex; width:100%">
    <div class="row" style="width:30%; margin-right:15px">

            <form asp-action="TryCreate">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Ідентифікатор</label>
                <input asp-for="Id" class="form-control" value="1" readonly  />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label">Ім'я</label>
                <input asp-for="CustomerName" class="form-control" value="Володимир" readonly />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerSurname" class="control-label">Прізвище</label>
                <input asp-for="CustomerSurname" class="form-control" value="Великий" readonly />
                <span asp-validation-for="CustomerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label">Телефон</label>
                <input asp-for="Phone" class="form-control" value="+380997301140" readonly />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Пошта</label>
                <input asp-for="Email" class="form-control" value="Vova2000@gmail.com" readonly />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Addres" class="control-label">Адреса(Харків)</label>
                <input asp-for="Addres" class="form-control" value="Холодна Гора буд.6, кв.4" readonly />
                <span asp-validation-for="Addres" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label">Коментар</label>
                <input asp-for="Description" class="form-control" minlenth="0" maxlenth="256" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mt-4" style="display:flex">
                    <input type="submit" style="margin-right:10px" value="Create" class="btn btn-lg btn-primary" />
                    <a type="button" asp-action="Get" asp-controller="Transport" class="btn btn-lg btn-dark">Повернутися до каталогу</a>
                </div>
            </form>
 
    </div>
    <div style="width:30%">
        <label asp-for="CreateDate" class="control-label">Дата створення</label>
        <input asp-for="CreateDate" class="form-control" value="@(Model?.CreateDate.ToString("yyyy-MM-dd HH:mm") ?? "")" disabled/>
        <span asp-validation-for="CreateDate" class="text-danger"></span>

        <label asp-for="UpdateDate" class="control-label">Дата закінчення</label>
        <input asp-for="UpdateDate" class="form-control" value="@(Model?.UpdateDate.ToString("yyyy-MM-dd HH:mm") ?? "")" disabled/>
        <span asp-validation-for="UpdateDate" class="text-danger"></span>
    </div>
  
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function checkPhonePrefix(event) {
            var phoneInput = event.target;
            var prefix = "+380";
            if (!phoneInput.value.startsWith(prefix)) {
                phoneInput.value = prefix;
            }
        }
    </script>
}