@model IEnumerable<CourseProject.DAL.Models.EF.CustomerOrder>
@{
    ViewData["Title"] = "GetAllOrders";
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1 class="center">Перелік замовлень</h1>

<table class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.Label("Номер")
            </th>
            <th style="text-align:center">
                @Html.Label("Клієнт")
            </th>
            <th>
                @Html.Label("Дата створення")
            </th>
            <th>
                @Html.Label("Дата закінчення")
            </th>
            <th>
                @Html.Label("Ціна")
            </th>
            <th>
                @Html.Label("Кількість")
            </th>
            <th>
                @Html.Label("Коментар")
            </th>
            <th>
                @Html.Label("Статус")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            @foreach (var detail in order.OrderDetails)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => order.Id)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => order.Customer.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.CreateDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.UpdateDate)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => detail.TotalPrice)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => detail.TotalAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.StatusOrder.StatusOrderName)
                    </td>
                    <td>
                        <a type="button" asp-action="Confirm" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-lg btn-success">Підтвердити</a>
                        <a type="button" asp-action="Decline" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-lg btn-danger mt-2">Відхилити</a>
                    </td>
                    <td>
                        <a type="button" asp-action="Returned" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-lg btn-warning">Повернення</a>
                        <a type="button" asp-action="Rent" asp-controller="Order" asp-route-id="@order.Id" class="btn btn-lg btn-info mt-2">В оренді</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>