@model IEnumerable<CourseProject.ViewModels.CustomerVM>

@{
    ViewData["Title"] = "GetCustomerName";
}
<style>
    .center {
        text-align: center;
    }
</style>

<h1 class="center">Клієнти</h1>

<form asp-action="GetCustomerName" asp-controller="Customer">
    <input type="text" name="CustomerName" placeholder="Пошук за Ім'ям" style="width:500px" />
    <button type="submit" class="search-btn">Знайти</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Ім'я")
            </th>
            <th>
                @Html.Label("Прізвище")
            </th>
            <th>
                @Html.Label("Телефон")
            </th>
            <th>
                @Html.Label("Пошта")
            </th>
            <th>
                @Html.Label("Адреса")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addres)
            </td>
            <td>
               
            </td>
        </tr>
}
    </tbody>
</table>
