@model IEnumerable<CourseProject.DAL.Models.EF.Transport>

@{
    ViewData["Title"] = "GetAllTransports";
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1 class="center">Електротранспорт</h1>

<p>
    <a asp-action="Create">Додати товар</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Назва")
            </th>
            <th>
                @Html.Label("Швидкість")
            </th>
            <th>
                @Html.Label("Вага")
            </th>
            <th>
                @Html.Label("Потужність")
            </th>
            <th>
                @Html.Label("Наявність")
            </th>
            <th>
                @Html.Label("Ціна")
            </th>
            <th>
                @Html.Label("Категорія")
            </th>
            <th>
                @Html.Label("Виробник")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Speed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weightt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnginePower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new {  id=item.Id }, new { @class = "btn btn-primary" })
            </td>
        </tr>
}
    </tbody>
</table>
