@model IEnumerable<CourseProject.DAL.Models.EF.Transport>

@{
    ViewData["Title"] = "GetTransportName";
}

<style>
    .center {
        text-align: center;
    }
</style>

<h1 class="center">Електротранспорт</h1>

<p>
    <a type="button" asp-action="Create" asp-controller="Transport" class="btn btn-sm btn-dark">Додати товар</a>
</p>
<form asp-action="GetTransportName" asp-controller="Transport">
    <input type="text" name="Name" placeholder="Пошук за назвою товару" style="width:500px" />
    <button type="submit" class="search-btn">Знайти</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("Назва")
            </th>
            <th>
                @Html.Label("Швидкість")
            </th>
            <th>
                @Html.Label("Вага")
            </th>
            <th>
                @Html.Label("Потужність")
            </th>
            <th>
                @Html.Label("Наявність")
            </th>
            <th>
                @Html.Label("Ціна")
            </th>
            <th>
                @Html.Label("Категорія")
            </th>
            <th>
                @Html.Label("Виробник")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Speed)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Weightt)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.EnginePower)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td>
                    <a type="button" asp-action="Delete" asp-controller="Transport" asp-route-id="@(item.Id)" class="btn btn-sm btn-danger">Видалити</a>
                    <a type="button" asp-action="Update" asp-controller="Transport" asp-route-id="@(item.Id)" class="btn btn-sm btn-primary">Редагувати</a>
                </td>
            </tr>
        }
    </tbody>
</table>
